*
{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{


    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

h4
{
    color:red;
}



/*  Estilos para la sección de noticias */

section{

border: 1px solid #ccc;

}

article{
    margin: 1rem;
    background-color: fuchsia;
    color: white;
}
